body{
    background-color: beige;
}

.titulo{
    text-align: center;
    color: #15441A;
    font-family: 'Lato', sans-serif;
}

.texto_explicacion{
    text-align: justify;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: darkblue;
}

.central{
    text-align: center;
}

.subtitulo{
    color: #0E150F;
    font-size: 24px;
    font-family: 'Arial';
}

.imagenes_lista{
    height: 200px;
    width: 200px;
}

.nombre{
    padding-inline: 50px;
    text-align: center;
}

.edad{
    padding-inline: 20px;
    text-align: center;
}

#recomendaciones{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: brown;
}

.imagenes_recomendaciones{
    height: 300px;
    width: 300px;
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

#texto_comun{
    font-size: 18px;
    font-style: 'Arial';
}
